* {
    margin: 3%;
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat; background-position-y: 45%;
    background-size: cover;
    background-color: rgb(255, 145, 0);
}

img {
    border-radius: 20%;
    position: absolute;
    top:70%;
    left:37%;
}